/* Reset Css */
body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
  padding: 0px;
}

/* Header Css */
.header-bg {
  background-color: #000;
  height: 100px;
}

.header {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  color: white;
}

/* Body Css */
