/* layout geral da pagina */
body {
  margin: 0;
  font-family: Arial;
  display: grid;
  gap: 60px;
  justify-items: center;
  background-color: #f7f7f7;
}

/* reset de margem e geral da fonte */
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

/* max-width de 100% na imagem para não ficar com scrool laretal */
img {
  max-width: 100%;
  display: block;
}

/* layout do da imagem que fica no topo da página */
.bikecraft {
  margin-top: 60px;
}

/* layout do menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* layout dos itens do menu */
.menu li {
  list-style: none;
  text-decoration: none;
  background-color: white;
  padding: 15px 30px;
  color: black;
  border: 1px solid white;
  border-radius: 4px;
}

.menu li:hover {
  border: 1px solid #900;
}

/* todo o conteúdo é dividido em 2 colunas com o máximo de 1000 pixels */
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: white;
  padding: 40px;
  text-align: right;
  /* Position relative para o detalhe absolute respeitar o pai dele */
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}

/* detalhe criado apenas com css */
.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #ee2211;
  position: absolute;
  top: 30px;
  right: -30px;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao a {
  background-color: #ee2211;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
}

.introducao a:hover {
  background-color: #900;
}

/* layout do subtitulo */
.subtitulo {
  font-size: 4rem;
  color: #c6c6c6;
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url(/img/onda.svg);
}

/* layout do grid ao lado do subtitulo */
.vantagens {
  background-color: white;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item:hover {
  border-left: 4px solid red;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-item p {
  grid-column: 2;
}

/* layout do rodapé */
.rodape {
  background-color: white;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
  .conteudo {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .introducao {
    text-align: right;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: center;
  }

  .introducao::before {
    display: none;
  }

  .subtitulo {
    text-align: center;
}
